body { text-align:center;
}


.deletedrecipe {color:red; 
                font-style:italic}

.validationError {color:red; font-weight:bold;}

.natigation {text-align:center; color:black;}

h1 {text-align:center;}
h2 {text-align:center;}
.footer {text-align: center;}
